.navbar{
    display: flex;
    align-items: center;
    height: 12vh;
    width:calc(100%);
}
.navcontainer{
    width: auto;
}
.top{
    display: flex;
    align-items: center;
}
.searchItem{
    display: flex;
    position: absolute;
    -webkit-backdrop-filter:blur(2px);
    justify-content: space-between;
    backdrop-filter: blur(2px);
    z-index: 99;
    background-color: rgba(249, 250, 251, 0.8);
    box-shadow: rgba(145, 158, 171, 0.16) 0px 8px 16px 0px;  
    width: 78%;
    height: 6rem;
    padding: 0px 30px 0 20px;
    margin-top: -2.8%;
    animation-name: example;
    animation-duration: 0.5s;
    overflow: hidden;
}
@keyframes example {
    from {top: -20px;}
    to {top: 23px;}

  }
.searchField{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.inputs{
    display: flex;    
    align-items: center;
    margin-right: 5%;
}
.inputicon{
    color: rgb(100, 99, 99);
}
input{
    height: 7vh;
    margin-left: 10px;
    width:100vh;
    background-color:transparent;
    border: none;
    padding-left: 20px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}
input:focus{
    outline: none;
}
.searchbtn{
    background-color:rgb(32, 101, 209) ;
    padding: 10px;
    color:rgb(255, 255, 255) ;
    text-decoration: none;
    border-radius:5px;
}
.searchicon{
    color: rgb(100, 99, 99);
    cursor: pointer;
    padding: 2px;
    border-radius: 50%;
}
.searchicon:hover{
    background-color: rgb(223, 223, 223);
}
.navbtn{
    display:none;
    visibility: hidden;
}
.navbarIcon{
    color: rgb(100, 99, 99);
    margin-right: 10px;
    cursor: pointer;  
}
.searchdetails{
    display: flex;
    align-items: center;
}
.searchdetail{
    position: absolute;
    display: flex;
    align-items: center;
    width:75%;
    justify-content: space-between;
    padding: 0 0px 0px 20px;
}
.searchdetailinfo{
    display: flex;
    align-items: center;
    
}
.usImage{
    width: 30px;
    height:20px;
    margin-right: 10px;
    cursor: pointer;
}
.profileImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media screen and (max-width:1029.33px) {
    .top{
        display: flex;
        flex-direction: row-reverse;
    }
    .navcontainer{
        margin-left: 10px;
    }
    .navbtn{
        display: block;
        visibility: visible;
        margin-left: 30px;
    }
    .searchItem{
        margin-left: -75px;
        margin-top: -4%;
        width: 100.5%;
    }
    .searchField{
        width:150vh;
        padding-right: 20px;
    }
    .searchdetail{
        padding: 0 30px 0 5px;
        width: 90%;
    }
}
@media screen and (max-width:899.33px) {
    .searchItem{
        margin-top: -40px;
        height: 80px;
    }
}

@media screen and (max-width:770px) {
    input{
        width:70vh ;
    }
}
@media screen and (max-width:594px) {
    input{
        width:50vh ;
    }
}
@media screen and (max-width:547px) {
    input{
        width:40vh ;
    }
}
@media screen and (max-width:398px) {
    .searchItem{
        width: 110%;
        padding-left: 40px;
    }
    input{
        width:20vh ;
    }
   .navcontainer{
    margin-left: -10px;
   }
}
@media screen and (max-width:500px) {
    .searchdetailinfo{
        margin-right: 10px;
    }
}